.modal-dialog(role='document')
  .modal-content
    .modal-body
      p
        = message
    .modal-footer
      button.back.btn.btn-small.btn-default(type='button', data-dismiss='modal') 取消
        i.icon-cancel-circled
      button.button.btn.btn-small.btn-danger.h-submit(type='submit') 刪除
        i.icon-trash
