.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title 设置标注样式
      .modal-body
        - var label = model.get('label') || {};
        .form-group
          if newStyle
            .input-group
              input.form-control.input-sm.h-new-group-name(type='hidden')
              .input-group-btn
                button.btn.btn-default.btn-sm.h-save-new-style
                  span.icon-ok
          else
            .input-group
              input.form-control.h-group-name(type='hidden', value='default')
        .form-group
          label(for='h-element-line-width') 线宽
          input#h-element-line-width.h-style-def.input-sm.form-control(
            type='number', min=0, step=0.1, value=model.get('lineWidth'))
        .form-group
          label(for='h-element-line-color') 线色
          .input-group.h-colorpicker
            input#h-element-line-color.input-sm.form-control(
              type='text', value=model.get('lineColor'))
            span.input-group-addon
              i
        .g-validation-failed-message.hidden
      .modal-footer
        button.back.btn.btn-small.btn-default.h-cancel(type='button', data-dismiss='modal') 取消
          i.icon-cancel-circled
        button.button.btn.btn-small.btn-primary.h-submit(type='submit') 保存
          i.icon-floppy
