.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-body
        .form-group
          label(for='h-annotation-name') 名称
          input#h-annotation-name.input-sm.form-control(
            type='text', placeholder='输入标注名称', value=annotation.name)
        .g-validation-failed-message.hidden
      .modal-footer
        button.back.btn.btn-small.btn-default.h-cancel(type='button', data-dismiss='modal') 取消
          i.icon-cancel-circled
        button.button.btn.btn-small.btn-primary.h-submit(type='submit') 保存
          i.icon-floppy
