.list-group.h-annotation-context-menu
  if numberSelected === 1
    a.list-group-item.h-edit-elements(href='#')
      | #[span.icon-cog] 编辑
  a.list-group-item.h-remove-elements(href='#')
    | #[span.icon-trash] 删除
