if user
  - var login = user.get('login');
  a.h-user-dropdown-link(data-toggle='dropdown')
    | #[span.icon-user] #{login} #[span.icon-down-open]
  ul.dropdown-menu(role='menu')
    li
      a.g-my-settings(href=`../girder#useraccount/${user.id}/info`, target='girder')
        i
        | 我的账户
    li.divider
    li
      a.g-logout
        i
        | 退出
else
  p.navbar-text
    a.navbar-link.g-register 注册
    | #{' or '}
    a.navbar-link.g-login 登录
      i
