if parentChain
  .g-item-breadcrumb-container
    -
      var parts = [];
      parentChain.forEach(function (parent, idx) {
        parts.push(parent.type === 'user' ? parent.object.login : parent.object.name);
      });
      parts.push(image.name());
    ol.breadcrumb(title=parts.join('/'))
      each parent in parentChain
        li
          span.g-item-breadcrumb-link(data-id=parent.object._id, data-type=parent.type)
            if (parent.type === "user")
              i.icon-user
              = parent.object.login
            else if (parent.type === "collection")
              i.icon-home
              = parent.object.name
            else
              i.icon-archive
              = parent.object.name
      li
        span.g-item-breadcrumb-link(data-id=image.id, data-type='item')
          i.icon-docs
          = image.name()

button.g-hierarchy-level-up.btn.btn-default.navbar-btn(type='button', onclick="history.go(-1)")
  | #[span] 返回病理图像库
// button.btn.btn-default.navbar-btn.h-open-image(type='button')
//   | #[span] 打开图像
// button.btn.btn-default.navbar-btn.h-open-annotated-image(type='button')
//   | #[span] 标注文件
// button.btn.btn-default.navbar-btn(type='button',  onclick="location.href='http://localhost:8080/#collections'")
//   | #[span] 返回病理图片库
